@media screen and (max-width: 600px){
    .imagemPosition{
        padding-bottom: 1rem;
    }

    .cabecalhoSingle{
        display:flex;
        align-items: center;

        gap: 1rem;
    }

    .positionItems{
        width: 15rem;
    }

    .singleTitle{
        font-size: px;
    }

    .styleButtonClose{
        padding-left: 5rem;
        width: 2rem;
        height: 1.5rem;

        color: #554B4B;
    }
}