@media screen and (max-width: 600px){

    /* Estilização do banner */
    .bannerPosition{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 10px;

    }

    /* posicionamento dos items abaixo */
    .positionLayuot{
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }

    .title{
        font-style: normal;
        font-family: 'sans-serif';
        font-weight: 300px;
        font-size: 1.2rem;

        color: #554B4B;
        line-height: 0.4rem;
    }

    /* estilização texto */
    .subtitle{
        font-style: normal;
        font-family: 'Inter';
        font-size: 0.9rem;
    }

    /* posição do nome popular e do nome cientifico */
   .positionTitle{
        width: 14rem;
        display: flex;
        flex-direction: column;
        
        text-align: left;

        padding-left: 0.5rem;
   }

    .styleLink{
        text-decoration: none;
    }

    /* estilização imagem */
    .imagemPlantas{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    /* estilação do botão > */
    .styleButtonRight{
        display: flex;

        width: 2rem;
        height: 1.5rem;
        color: #554B4B;
    }

    /* A linha */
    hr{
        width: 100%;
    }
}